* {
    /* outline: 1px solid red; */
    box-sizing: border-box; 
  }
  .container-bg{
      width: 100%;
      margin: auto;
      /* padding: 0px -15px; */
      box-sizing: border-box;
      font-family: 'Noto Sans TC','Mukta Malar', sans-serif;
      src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
      src: url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap');
      
  }
  .main-header, .service, .product{
    max-width: 1200px;
  }

/* 產品簡介不換行 */
@media screen and (min-width: 992px){
  .product-pic-area {
    margin-left: -90px;
  }
  .product-slider-txt{
    margin-left: -120px;
    margin-right: unset;
  }
}
@media screen and (min-width: 1131px){
  .product-slider-txt {
    margin-left: -120px;
  }
}
  /* 表格內容去原點 */
  .product-norm i{
    margin-left: 0px;
    margin-bottom: 0;
    text-indent: 0px;
}
  .product-norm td i::before{
    content: '';
    display: none;
}
/* 表格內認證圖示 */
.product-norm .attest-area img{
  width: 50px;
}

@media screen and (min-width:768px){
  .product-norm .attest-area img{
    width: 70px;
  }
}
